.select-qori-dropdown {
  background-color: var(--bg-card);
  color: var(--gold-light);
  border: 1px solid var(--border-color);
  padding: 7px 10px;
  border-radius: 8px;
  font-family: var(--font-sans);
  font-size: 0.8rem;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

.select-qori-dropdown:focus, .select-qori-dropdown:hover {
  border-color: var(--gold-primary);
}
